@import url('https://fonts.googleapis.com/css2?family=Julius+Sans+One&family=Bebas+Neue&family=Open+Sans&family=Source+Sans+Pro&display=swap');

/* -------------------------------------------------------------------Parallax Definitions (learned at keithclark.co.uk)*/
body {
    margin: 0;
    padding: 0;
}



@supports ((perspective: 1px) and (not (-webkit-overflow-scrolling: touch))) {
    .parallax {
        background: #2c2c2c;
        perspective: 5px;
        height: 100vh;
        overflow-x: hidden;
        overflow-y: auto;
        scroll-behavior: smooth;
    }

    .layer-group {
        position: relative;
        height: 100vh;
        transform-style: preserve-3d;
        pointer-events: none;
    }

    .layer {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }

    .back {
        transform: translateZ(-1px) scale(1.2);
        pointer-events: none;
        z-index: 2;
    }

    .base {
        transform: translateZ(0);
        pointer-events: none;
        z-index: 3;
    }

    .backer {
        transform: translateZ(-3px) scale(1.6);
        pointer-events: none;
        z-index: 1;
    }
}




/* -------------------------------------------------------------------Header */

.navbar.bg-dark {
    background: rgba(36, 35, 35, 0.7) !important;
}

.navbar-toggler {
    background: transparent;
    color: #2c2c2c;
}

/* Burger animation based on https://codepen.io/erikterwan/pen/EVzeRP */

.navbar-toggler span {
    display: block;
    width: 33px;
    height: 4px;
    margin-bottom: 5px;
    position: relative;
    
    background: #cdcdcd;
    border-radius: 3px;
    
    z-index: 1;
    
    transform-origin: 4px 0px;
    
    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                opacity 0.55s ease;
}
.navbar-toggler span:first-child {
    transform-origin: 0% 0%;
}

.navbar-toggler span:nth-last-child(2) {
    transform-origin: 0% 100%;
}

.navbar-toggler[aria-expanded="true"] span {
    opacity: 1;
    transform: rotate(-45deg) translate(0px, 2px);
    background: #cdcdcd;
}
.navbar-toggler[aria-expanded="true"] span:nth-last-child(3) {
    opacity: 0;
    transform: rotate(45deg) translate(6px, -3px);
}
.navbar-toggler[aria-expanded="true"] span:nth-last-child(2) {
    transform: rotate(45deg) translate(-5px, -10px);
}

.header-section {
    font-family: 'Julius Sans One';
    color: #fff;
    z-index: 6;
    transform: translate3d(0, 0, 0);
}

.header-bg {
    background: linear-gradient(rgba(20, 20, 20, 0.8), rgba(145, 41, 74, 0.8)), url("../images/portfolio.jpg");
    z-index: 6;
    width: 100%;
    height: 200vh;
    background-size: cover;
    background-position: top;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

.header {
    font-size: 4rem;
    text-align: center;
    position: absolute;
    left: 50%;
    top: 30%;
    width: max-content;
    animation: fadein ease 3s;
    transform: translate(-50%, -50%);
}

.caption {
    font-size: 3rem;
    text-align: center;
    position: absolute;
    left: 50%;
    top: 50%;
    width: max-content;
    transform: translate(-50%, -50%);
    animation: fadein 1.5s;
    animation-fill-mode: both;
    animation-delay: 1.5s;
}

/* -------------------------------------------------------------------About */

.about-section {
    background-color: #2c2c2c;
    z-index: 4;
    overflow: hidden;
}

.about-bg {
    background: rgb(110, 7, 7);
    position: relative;
    width: 100%;
    height: 10rem;
    z-index: 6;
    display: table;
}

.about-header {
    font-family: 'Bebas Neue', cursive;
    width: max-content;
    font-size: 6rem;
    line-height: 10rem;
    font-weight: bold;
    background: linear-gradient(to top, rgb(17, 17, 17), rgb(31, 30, 30));
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
}

.outer-img {
    color: white;
    text-align: center;
    display: table;
}

.inner-txt {
    height: 100%;
    z-index: 100;
    pointer-events: all;
    display: table;
    text-align: center;
}

.about-txt {
    font-size: 1.8rem;
    font-family: 'Julius Sans One', sans-serif;
    display: table-cell;
    vertical-align: middle;
    opacity: 0;
    color: white;
}

.lil-ben {
    background: url("../images/lil-ben-1.jpg");
    background-position: right;
    background-size: cover;
    width: 33.333%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
}

.lil-ben-txt:hover ~ .layer .lil-ben {
    background: linear-gradient(rgba(202, 51, 202, 0.8), rgba(28, 29, 31, 0.8)), url("../images/lil-ben-1.jpg");
    background-position: right;
    background-size: cover;
    transition: all 0.3s ease-in-out;
}

.middle-ben {
    background: url("../images/middle-ben.jpg");
    background-position: center;
    background-size: cover;
    width: 34.333%;
    height: 137%;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.middle-ben-txt:hover ~ .layer .middle-ben {
    background: linear-gradient(to top, rgba(147, 173, 31, 0.8), rgba(28, 29, 31, 0.8)), url("../images/middle-ben.jpg");
    background-position: center;
    background-size: cover;
    transition: all 0.3s ease-in-out;
}

.big-ben {
    background: url("../images/big-ben.jpeg");
    background-position: center;
    background-size: cover;
    width: 33.333%;
    height: 125%;
    position: absolute;
    top: 35%;
    left: 83%;
    transform: translate(-50%, -50%);
}

.big-ben-txt:hover ~ .layer .big-ben {
    background: linear-gradient(to top, rgba(143, 35, 32, 0.8), rgba(28, 29, 31, 0.8)), url("../images/big-ben.jpeg");
    background-position: center;
    background-size: cover;
    transition: all 0.3s ease-in-out;
}

.inner-txt:hover span {
    opacity: 1;
    transition-delay: 0.3s;
    transition: all 0.6s ease-in-out;
}

/* -------------------------------------------------------------------Work Experience */

.work-section {
    position: relative;
    z-index: 6;
    background: #2c2c2c;
    overflow: hidden;
}

.work-header {
    position: relative;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(24, 23, 23, 0.5)), url("../images/timeline.jpeg");
    background-size: cover;
    height: 10rem;
    background-attachment: fixed;
    color: #fff;
    font-family: 'Bebas Neue', sans-serif;
    display: table;
}

.work-title {
    font-size: 8rem;
    display: table-cell;
    vertical-align: middle;
}

.work-layer {
    z-index: -1;
}

.work-bg-1 {
    background: linear-gradient(rgba(20, 20, 20, 0.8), rgba(34, 81, 211, 0.8)), url("../images/work-ben-1.jpeg");
    z-index: 6;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center 10%;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

.work-bg-2 {
    background: linear-gradient(rgba(20, 20, 20, 0.8), rgba(32, 212, 25, 0.8)), url("../images/work-ben-2.jpeg");
    z-index: 6;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center 10%;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

.work-bg-3 {
    background: linear-gradient(rgba(20, 20, 20, 0.8), rgba(11, 110, 117, 0.8)), url("../images/work-ben-3.jpeg");
    z-index: 6;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center 10%;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

.work-bg-4 {
    background: linear-gradient(rgba(20, 20, 20, 0.8), rgba(240, 121, 11, 0.8)), url("../images/work-ben-4.jpeg");
    z-index: 6;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: 80% 0;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

.timeline {
    overflow: hidden;
}

.timeline-item {
    padding: 2em 2em 0em 0em;
    position: relative;
    color: #fafafa;
    border-left: 1px solid;
    transition: all 0.6s ease-in-out;
    transition-delay: 0.3s;
    background-color: transparent;
}

.timeline-info {
    transition: all 0.6s ease-in-out;
    transition-delay: 0.3s;
}

.timeline-4:hover .timeline-info {
    background: rgb(7, 17, 43);
    transition: all 0.6s ease-in-out;
    padding-top: 2em;
}

.timeline-3:hover .timeline-info {
    background: rgb(13, 78, 11);
    transition: all 0.6s ease-in-out;
    padding-top: 2em;
}

.timeline-2:hover .timeline-info {
    background: rgb(7, 59, 63);
    transition: all 0.6s ease-in-out;
    padding-top: 2em;
}

.timeline-1:hover .timeline-info {
    background: rgb(104, 53, 6);
    transition: all 0.6s ease-in-out;
    padding-top: 2em;
}

.timeline-item p {
    padding: 0;
    margin: 0;
}

.timeline-info:before {
    content: attr(data-dates);
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 500;
    font-size: 1em;
    padding: 0;
    margin: 0 0 0 -2em;
    visibility: hidden;
    opacity: 0;
    transition: all 0.6s ease-in-out;
}

.timeline-item:hover .timeline-info::before {
    left: 2em;
    transition-delay: 1s;
    transition: all 0.6s ease-in-out;
    visibility: visible;
    margin-left: 0;
    opacity: 1;
    background: transparent;
}

.timeline-info:after {
    width: 12px;
    height: 12px;
    display: block;
    top: 2.4em;
    position: absolute;
    left: -0.4em;
    border-radius: 12px;
    content: '';
    background-color: #fafafa;
}

.timeline-item:hover .work-hidden {
    transition-delay: 0.5s;
    transition: all 0.6s ease-in-out;
    visibility: visible;
    opacity: 1;
    padding-top: 2em;
    margin-bottom: 0;
    padding-bottom: 4rem;
    padding-left: 2em;
}

.timeline-item .work-hidden {
    position: relative;
    display: flex;
    visibility: hidden;
    opacity: 0;
    transition: all 0.6s ease-in-out;
    margin-bottom: -22rem;
    padding: 0;
    pointer-events: none;
}

.timeline-info {
    padding: 0 0 2em 2em;
    background: #001318;
    font-family: 'Source Sans Pro', sans-serif;
}

.timeline-info h4 {
    font-weight: bold;
}

.work-hidden img {
    object-fit: cover;
    height: 20rem;
    width: 55%;
    pointer-events: none;
}

.timeline-item .work-hidden img {
    object-position: top;
}

.work-hidden ul {
    width: auto;
    max-width: 45%;
    height: 20rem;
    font-size: 1.5rem;
    font-family: 'Source Sans Pro', sans-serif;
    line-height: 2rem;
    margin-left: 2rem;
    padding-left: 1rem;
    list-style-type: square;
}

/* -------------------------------------------------------------------Contact Footer */

.footer {
    position: sticky;
    bottom: 0;
    background: white;
    height: 6vh;
    width: 100%;
    z-index: 1032;
}

.main-row {
    height: 100%;
}

.social {
    text-align: center;
    cursor: pointer;
    position: relative;
    align-items: stretch;
}

.social a {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

.social:not(.gm) a {
    color: white;
}

.gm a {
    color: black;
}

.social:hover {
    filter: brightness(0.7);
}

.social i {
    line-height: 6vh;
}

.fb {
    background: #2d4b83;
    color: white;
}

.li {
    background: #377399;
    color: white;
}

/* For instagram background color: https://stackoverflow.com/questions/37751375/instagram-new-logo-css-background */
.ig {
    background: #f09433; 
    background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%);
    color: white;
}

.gh {
    background: #2d2d2d;
    color: white;
}

.gm {
    background: white;
}

.wa {
    background: #00b34e;
    color: white;
}

.address {
    font-family: 'Julius Sans One', sans-serif;
    letter-spacing: 2px;
    line-height: 3rem;
    background: #2c2c2c;
    color: white;
}

.address i {
    color: rgb(204, 44, 44);
    font-size: 1.1rem;
}

.address a {
    text-decoration: none;
    color: white;
}

/* -------------------------------------------------------------------Skill And Achievments */

.skill-ach-section {
    height: 100vh;
    width: 100%;
    position: relative;
}

.skill-half {
    height: 100vh;
    width: 60%;
    display: inline-block;
}

.ach-half {
    height: 100vh;
    width: 35%;
    display: inline-block;
}

.half-scroll {
    width: 100%;
    height: 90vh;
    position: relative;
    float: right;
    overflow: hidden;
}

.skill-half .half-scroll {
    width: 80%;
}

.ach-half .half-scroll {
    margin-top: 10%;
}

.placehold {
    color: white;
    font-size: 1.8rem;
    z-index: -5;
    width: 10rem;
    text-align: center;
    position: absolute;
    top: 10%;
    left: 20%;
}

.skill-btn-group {
    position: absolute;
    width: 10%;
    display: inline-block;
    z-index: 5;
    top: 10%;
}

.skill-btn-group a {
    text-emphasis: none;
    text-decoration: none;
}

.skill-btn {
    width: 100%;
    margin: 1rem 0;
    padding: 1.75rem 0;
    color: white;
}

.skill-btn i {
    font-size: 2rem;
    display: block;
}

.basketball-btn {
    background: #f3ca13;
}

.football-btn {
    background: #1a4d7b;
}

.rugby-btn {
    background: #52c8f2;
}

.tech-btn {
    background: #ff4100;
}

.skill-type {
    position: absolute;
    display: block;
    height: 90vh;
    width: 100%;
    transition: all 0.4s ease-in-out;
    z-index: 2;
}

.skill {
    text-align: center;
    color: white;
    transition: all 0.4s ease-in-out;
    z-index: 3;
}

.details {
    font-family: 'Source Sans Pro', sans-serif;
    position: absolute;
    left: 50%;
    top: 50%;
    height: max-content;
    width: 80%;
    font-size: 1.2rem;
    padding: 1rem;
    transform: translate(-50%, -50%);
    transition: all 0.4s ease-in-out;
    text-shadow: 2px 2px 4px #000000;
}

.collapsing {
    transition: none !important;
}

.basketball-bg {
    background: rgba(243, 202, 19, 0.7);
}

.football-bg {
    background: rgba(26, 77, 123, 0.7);
}

.rugby-bg {
    background: rgba(82, 200, 242, 0.7);
}

.tech-bg {
    background: rgba(243, 202, 19, 0.7);
}

.skill-img {
    width: 100%;
    height: 200vh;
    z-index: -2;
    background-size: cover !important;
    background-position: top !important;
    background-attachment: fixed !important;
    background-repeat: no-repeat !important;
}

.basketball-img {
    background: url("../images/stock-basketball.jpeg");
}

.football-img {
    background: url("../images/stock-gaa.webp");
}

.rugby-img {
    background: url("../images/stock-rugby.jpg");
}

.tech-img {
    background: url("../images/stock-tech.jpg");
}

.ignore-layer {
    pointer-events: none;
    z-index: -2;
    overflow: hidden;
}

.ach {
    width: 55%;
    height: 20%;
    background: blue;
    margin: auto;
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-size: 1.2rem;
    font-family: 'Source Sans Pro', sans-serif;
    text-align: center;
    color: rgb(238, 228, 228);
    display: table;
    padding: 0 1rem;
}

.ach-text {
    display: table-cell;
    vertical-align: middle;
    transition: all 0.3s ease-in-out;
}

.ach:nth-child(1) {
    background: #6B8E23;
}

.ach:nth-child(2) {
    background: #f9a602;
}

.ach:nth-child(3) {
    background: #006064;
}

/* -------------------------------------------------------------------Media Queries */

/* Checking if device has hover capabilities learned from https://medium.com/@ferie/detect-a-touch-device-with-only-css-9f8e30fa1134 */

@media screen and (max-width: 1199px) {
        .work-title {
            font-size: 5rem;
        }

        .timeline-2:hover .work-hidden img {
            width: 40rem;
            margin: auto;
            display: block;
        }

        .timeline-2:hover .work-hidden {
            height: auto;
            display: inline-block;
            transition: all 0.6s ease-in-out;
            padding-left: 0;
            width: 100%;
        }

        .timeline-2:hover .work-hidden ul {
            height: min-content;
            width: 45rem;
            margin: auto;
            display: block;
            clear: both;
        }

        .timeline-2:hover .work-hidden ul li {
            padding-top: 1rem !important;
            padding-bottom: 1rem !important;
        }

        .outer-img {
            height: 33.333%;
            width: 100%;
            display: block;
        }

        .about-txt {
            font-size: 1rem;
        }

        .inner-txt {
            height: 33.333%;
        }

        .middle-ben {
            background-position: 0 30%;
            top: 33.333%;
            height: 55%;
        }

        .middle-ben-txt:hover ~ .layer .middle-ben {
            background-position: 0 30%;
        }

        .big-ben {
            top: 73%;
            left: 50%;
            background-position: 50% 30%;
        }

        .big-ben-txt:hover ~ .layer .big-ben {
            background-position: 50% 30%;
        }

        .details {
            top: 40%;
            width: 78%;
        }

        .skill-btn-group {
            width: 13%;
        }

        .ach-half .half-scroll {
            margin-top: 28%;
        }

        .skill-half .half-scroll {
            margin-top: 20%;
        }

    }

@media screen and (hover: none) and (max-width: 1199px) {
    .big-ben {
        background: linear-gradient(to top, rgba(143, 35, 32, 0.8), rgba(28, 29, 31, 0.8)), url("../images/big-ben.jpeg");
        background-position: center;
        background-size: cover;
        transition: all 0.3s ease-in-out;
    }

    .timeline-item:focus .timeline-info {
        background: #07042f;
    }

    .middle-ben {
        background: linear-gradient(to top, rgba(147, 173, 31, 0.8), rgba(28, 29, 31, 0.8)), url("../images/middle-ben.jpg");
        background-position: center 20%;
        background-size: cover;
        transition: all 0.3s ease-in-out;
    }

    .lil-ben {
        background: linear-gradient(rgba(202, 51, 202, 0.8), rgba(28, 29, 31, 0.8)), url("../images/lil-ben-1.jpg");
        background-position: right;
        background-size: cover;
        transition: all 0.3s ease-in-out;
    }

    .about-txt {
        opacity: 1;
    }

    .timeline-2 .work-hidden img {
        width: 40rem;
        margin: auto;
        display: block;
    }

    .timeline-2 .work-hidden {
        height: auto;
        display: inline-block;
        transition: all 0.6s ease-in-out;
        padding-left: 0;
        width: 100%;
    }

    .timeline-2 .work-hidden ul {
        height: min-content;
        width: 45rem;
        margin: auto;
        display: block;
        clear: both;
    }

    .timeline-2 .work-hidden ul li {
        padding-top: 1rem !important;
        padding-bottom: 1rem !important;
    }

    .timeline-item .timeline-info {
        transition: all 0.6s ease-in-out;
        padding-top: 2em;
    }

    .timeline-item .work-hidden {
        visibility: visible;
        opacity: 1;
        padding-top: 2em;
        margin-bottom: 0;
        padding-bottom: 4rem;
        padding-left: 2em;
    }

    .timeline-item .timeline-info::before {
        left: 2em;
        transition-delay: 1s;
        transition: all 0.6s ease-in-out;
        visibility: visible;
        margin-left: 0;
        opacity: 1;
        background: transparent;
    }

    .timeline-4 .timeline-info {
        background: rgb(7, 17, 43);
        transition: all 0.6s ease-in-out;
        padding-top: 2em;
    }

    .timeline-3 .timeline-info {
        background: rgb(13, 78, 11);
        transition: all 0.6s ease-in-out;
        padding-top: 2em;
    }

    .timeline-2 .timeline-info {
        background: rgb(7, 59, 63);
        transition: all 0.6s ease-in-out;
        padding-top: 2em;
    }

    .timeline-1 .timeline-info {
        background: rgb(104, 53, 6);
        transition: all 0.6s ease-in-out;
        padding-top: 2em;
    }
}

@media screen and (max-width: 768px) {
    .lil-ben {
        background-position: 90% 50%;
    }

    .lil-ben:hover {
        background-position: 90% 50%;
    }

    .work-title {
        font-size: 4rem;
    }

    .timeline-item:hover .work-hidden img {
        width: 30rem;
        margin: auto;
        display: block;
    }
    .timeline-item:hover .work-hidden {
        height: auto;
        display: inline-block;
        transition: all 0.6s ease-in-out;
        padding-left: 0;
        width: 100%;
    }

    .timeline-item:hover .work-hidden ul {
        height: min-content;
        width: 30rem;
        margin: auto;
        display: block;
        clear: both;
    }

    .skill-btn-group {
        width: 100%;
        height: 5rem;
        top: 0;
        text-align: center;
    }

    .skill-btn {
        width: 20%;
        margin: .5rem;
    }

    .ach-half .half-scroll {
        padding-top: 7rem;
    }

    .ach {
        height: 25%;
        width: 80%;
        font-size: 1.2rem;
    }

    .ach-text i {
        display: block;
    }

    .skill-half {
        float: left;
    }

    .ach-half {
        width: 40%;
    }

    .skill-half .half-scroll {
        margin-top: 30%;
    }

    .details {
        top: 45%;
        width: 90%;
        font-size: 1rem;
    }
}

@media screen and (hover: none) and (max-width: 768px) {
    .big-ben {
        background: linear-gradient(to top, rgba(143, 35, 32, 0.8), rgba(28, 29, 31, 0.8)), url("../images/big-ben.jpeg");
        background-position: center;
        background-size: cover;
        transition: all 0.3s ease-in-out;
    }

    .timeline-item:focus .timeline-info {
        background: #07042f;
    }

    .middle-ben {
        background: linear-gradient(to top, rgba(147, 173, 31, 0.8), rgba(28, 29, 31, 0.8)), url("../images/middle-ben.jpg");
        background-position: center 20%;
        background-size: cover;
        transition: all 0.3s ease-in-out;
    }

    .lil-ben {
        background: linear-gradient(rgba(202, 51, 202, 0.8), rgba(28, 29, 31, 0.8)), url("../images/lil-ben-1.jpg");
        background-position: right;
        background-size: cover;
        transition: all 0.3s ease-in-out;
    }

    .about-txt {
        opacity: 1;
    }

    .timeline-info {
        transition: all 0.6s ease-in-out;
        padding-top: 2em;
    }

    .timeline-item .work-hidden img {
        width: 30rem;
        margin: auto;
        display: block;
    }

    .timeline-item .work-hidden {
        height: auto;
        display: inline-block;
        transition: all 0.6s ease-in-out;
        padding-left: 0;
        width: 100%;
        opacity: 1;
        visibility: visible;
        margin-bottom: 0;
    }

    .timeline-item .work-hidden ul {
        height: min-content;
        width: 30rem;
        margin: auto;
        display: block;
        clear: both;
    }

    .timeline-info::before {
        left: 2em;
        transition-delay: 1s;
        transition: all 0.6s ease-in-out;
        visibility: visible;
        margin-left: 0;
        opacity: 1;
        background: transparent;
    }
}

@media screen and (max-width: 568px) {
    .caption {
        top: 70%;
        font-size: 2rem;
    }

    .about-header {
        font-size: 4rem;
    }

    .base {
        transform: none;
    }

    .back {
        transform: none;
    }

    .backer {
        transform: none;
    }

    .work-hidden ul {
        width: 70%;
        max-width: 70%;
        height: auto;
        margin: auto;
    }

    .work-hidden ul li {
        margin: 0;
        padding: 0;
    }

    .outer-img {
        height: 33.333%;
        width: 100%;
        display: block;
    }

    .about-txt {
        font-size: 1rem;
    }

    .inner-txt {
        height: 33.333%;
    }

    .middle-ben {
        background-position: 0 30%;
        top: 50%;
    }

    .middle-ben-txt:hover ~ .layer .middle-ben {
        background-position: 0 30%;
    }

    .big-ben {
        top: 83%;
        left: 50%;
        background-position: top;
    }

    .big-ben-txt:hover ~ .layer .big-ben {
        background-position: top;
    }

    .work-title {
        font-size: 2.8rem;
    }

    .timeline-item .work-hidden {
        padding-top: 2rem;
        position: relative;
        opacity: 1;
        transition: all 0.6s ease-in-out;
        visibility: visible;
        margin-bottom: 0;
        display: block;
        padding-bottom: 2rem;
    }

    .timeline-item:hover .work-hidden {
        padding-top: 2rem;
        position: relative;
        opacity: 1;
        transition: all 0.6s ease-in-out;
        visibility: visible;
        margin-bottom: 0;
        display: block;
        padding-bottom: 2rem;
        padding-left: 0;
    }

    .work-hidden img {
        object-fit: cover;
        height: auto;
        width: 30rem;
        display: block;
        padding-left: 2rem;
        padding-right: 2rem;
        margin: auto;
    }

    .work-hidden ul {
        margin: auto;
        width: 70%;
        height: auto;
    }

    .work-hidden ul li {
        font-size: 1.5rem;
        line-height: 3rem;
        margin-left: 1rem;
        padding-left: 1rem;
    }

    .timeline-info::before {
        left: 2em;
        transition-delay: 0.3s;
        transition: all 0.6s ease-in-out;
        visibility: visible;
        margin-left: 0;
        opacity: 1;
        background: transparent;
    }

    .timeline-info:after {
        width: 12px;
        height: 12px;
        display: block;
        top: 2.4em;
        position: absolute;
        left: -0.3em;
        border-radius: 12px;
        content: '';
        background-color: #fafafa;
    }

    .timeline-info {
        padding-top: 2rem;
    }

    .timeline-item {
        width: inherit;
    }

    .skill-btn {
        margin: 0.2rem;
        font-size: 0.7rem;
    }

    .half-scroll {
        width: 100%;
        height: 100%;
    }

    .half-scroll .layer-group {
        transform: none;
    }

    .skill {
        transform: none;
        position: relative;
        width: 100%;
        height: 100%;
    }

    .details {
        width: 90%;
        font-size: 1rem;
        height: max-content;
        transform: none;
        position: relative;
        top: auto;
        left: auto;
        bottom: auto;
        margin: 5rem .5rem 0 .5rem;
    }

    .placehold {
        left: 20%;
        width: 4rem;
    }

    .ach {
        font-size: 0.9rem;
        padding: 0 0.2rem;
    }

}
@media screen and (hover: none) and (max-width: 568px) {
    .big-ben {
        background: linear-gradient(to top, rgba(143, 35, 32, 0.8), rgba(28, 29, 31, 0.8)), url("../images/big-ben.jpeg");
        background-position: center;
        background-size: cover;
        transition: all 0.3s ease-in-out;
    }

    .timeline-item:focus .timeline-info {
        background: #07042f;
    }

    .middle-ben {
        background: linear-gradient(to top, rgba(147, 173, 31, 0.8), rgba(28, 29, 31, 0.8)), url("../images/middle-ben.jpg");
        background-position: center 14%;
        background-size: cover;
        transition: all 0.3s ease-in-out;
    }

    .lil-ben {
        background: linear-gradient(rgba(202, 51, 202, 0.8), rgba(28, 29, 31, 0.8)), url("../images/lil-ben-1.jpg");
        background-position: right;
        background-size: cover;
        transition: all 0.3s ease-in-out;
    }

    .about-txt {
        opacity: 1;
    }

    .timeline-info {
        transition: all 0.6s ease-in-out;
        padding-top: 2em;
    }

    .timeline-item .work-hidden {
        padding-top: 2rem;
        position: relative;
        opacity: 1;
        transition: all 0.6s ease-in-out;
        visibility: visible;
        margin-bottom: 0;
        display: block;
        padding-bottom: 2rem;
        padding-left: 0;
    }

    .work-hidden img {
        width: 20rem !important;
    }

    .timeline-info::before {
        left: 2em;
        transition-delay: 1s;
        transition: all 0.6s ease-in-out;
        visibility: visible;
        margin-left: 0;
        opacity: 1;
        background: transparent;
    }
}

@media only screen and (max-width: 480px) {
    .caption {
        font-size: 1.8rem;
    }

    .details {
        margin: 4rem 0.25rem 0 0.25rem;
        width: 100%;
        font-size: 0.9rem;
        padding: 0.5rem;
    }
}

/* -------------------------------------------------------------------Keyframe Animations */

/* Obtained from stackoverflow: https://stackoverflow.com/questions/11679567/using-css-for-a-fade-in-effect-on-page-load */

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}